<a href="https://colab.research.google.com/github/Saam-ia/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic printing and storing variable**

In order to print a string

In [ ]:
print("Hello World")

Hello World

You can check the type of variable using this function

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Many values to multiple variables

In [ ]:
x,y,z='work','ok','whatever'
print(x,y,z)

work ok whatever

creating a function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)#this will use the local variable that is inside the function

myfunc()

print("Python is " + x)#this will use the x variable outside the function

Python is fantastic
Python is awesome

Built in data types in Python
# **Built in data types in Python**

Python has the following data types built-in by default, in these categories:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

# **1.STRING**

###Multiline Strings###
You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """heyyyyyy nice to meet you """
print(a)

heyyyyyy nice to meet you

Strings are Arrays

In [ ]:
a = "Hello, World!"
print(a[0])
print(a[1])
print(a[2])
print(a[3])

H
e
l
l

###Check in string###

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)
txt = "The best things in life are free!"
print("out" in txt)

True
False

if it is present

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

if not present use key word "not in"

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

###String Slicing###

Get the characters from position 2 to position 5 (not included)

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

**Slice From the Start**
By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**
By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**
Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

###Concatination and formating of String###

**Concatination of String**

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Format Strings**

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

###Moidifier###

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

# **2.List**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

1.Lists are created using square brackets:
2.Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.
Note: There are some list methods that will change the order, but in general: the order of the items will not change.

###List Length
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

###Converting to a list

In [ ]:
a=list(("bobby"))
print(a)

['b', 'o', 'b', 'b', 'y']